@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

main{
	background-color:white;
	padding:15px;
	padding-top:25px;
	padding-bottom:50px;
	max-width: 1700px;
	margin:0 auto;
	border:20px solid black;
	animation-name: example2;
	animation-duration: 1.5s;
}
nav{
	animation-name: example;
	animation-duration: 1.5s;
}
header{
	padding-bottom:20px;
	padding-top:20px;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color:black;
    animation-name: example;
	animation-duration: 1.5s;
}
h1{
	font-size:5em;
    color: white;
    text-align:center; 
    font-weight:bold;
    font-family: 'Henny Penny', cursive;
    padding: 40px;
}
nav ul{
    text-align: center;
    margin: auto;
    height:auto;
}
nav li{
    margin: 5px 10px;
    font-family: 'Bree Serif', serif;
    font-size:2.0em;
	padding-left:12px;
}

h2{
	display:inline;
	margin-bottom:1px;
	margin-top:5px;
    font-family: 'Roboto', sans-serif;
    font-size:3em;
    font-style:bold;
    color:black;
    text-shadow: 2px 2px #F9F0EC;
}
h3{
	margin-top:1px;
	margin-bottom:20px;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size:2.5em;
	font-weight:300;
	color:black;
	text-shadow: 2px 2px #F9F0EC;
}
p{
	font-family: 'Slabo 27px', serif;
	font-size:1.5em;
	text-align:justify;
}
blockquote{
	margin:30px;
}
footer{
	color:white;
	background-color: black;
	text-align:center;
	padding:15px;
	margin:0;
	display:block;
	animation-name: example;
	animation-duration: 1.9s;
}
footer a:link{
    color:white;
}
.icons .fa{
	font-size: 5em;
    color: white;
}
.icons .fa:hover{
	color:grey;
}
.icons{
	text-align:center;
	padding: 40px 0 ;
    max-width:1200px;
    margin:0 auto;
    border-bottom:1px solid white;
}
.logo{
	max-width: 100%;
	height: auto;
	margin:0 auto;
	display:block;
}
.navbar-brand{
	font-size:2.5em;
	font-family:"Bree Serif";
}
.btn {
	font-weight:bold;
	color:#9b9c9e;
	font-size:2em;
	font-family:"Bree Serif"
	}
	li a:hover{
		background-color:#252526;
	}
	a:hover{
		    text-decoration:none;
	}
	h5{
		color:black;
		font-size:2em;
		padding:50px;
	}
	#img1 img[src="images/comp.jpg"]{
		float:right;
		margin-right:10px;
		margin-left:20px;
	}
	#img2 img[src="images/design.JPG"]{
		float:left;
		margin-right:20px;
		margin-left:10px;
	}
	#img3 img[src="images/mixing.png"]{
		float:right;
		margin-right:10px;
		margin-left:20px;
	}
	#img4 img[src="images/lessons.jpg"]{
		float:left;
		margin-right:20px;
		margin-left:10px;
	}
	@keyframes example {
  	from {background-color: white;}
  	to {background-color: black;}
	}
	@keyframes example2 {
  	from {background-color: black;}
  	to {background-color: white;}
	}
	.video-responsive{
	    overflow:hidden;
	    padding-bottom:56.25%;
	    position:relative;
	    height:0;
	}
	.video-responsive iframe{
    	left:0;
    	top:0;
   		height:100%;
   		width:100%;
   		position:absolute;
	}
	.container{
		display:inline-block;
	}
	.btn2{
		color:white;
		background-color:black;
		margin:auto;
		border-radius: 10px;
		display:block;
		margin-left:auto;
		margin-right:auto;
		font-size:1.5em;
		border:5px solid black;
	}
	.btn2:hover{
		color:black;
		background-color:white;		
	}
}

/* removes wrapper for smaller screens */
@media only screen and (max-width: 1203px){
	#wrapper{
		width:auto;
		min-width:0;
		box-shadow:none;
	}
	nav li{
		padding-right:9px;
		padding-left:9px;
		font-size:1.8em;
	}
}
/* CSS for Tablets */
@media only screen and (max-width: 1024px) {
	h1{
		font-size: 3em;
	}
	nav li{
		font-size:1.4em;
		font-family:"Bree Serif";

	}
	.navbar-brand{
	font-size:2.0em;
	}
}
/* CSS for Smartphones */
@media only all and (max-width: 768px) {
	h1{
	    font-size: 1.5em;
	}
	h2{
		font-size:2em;
	}
	h3{
		font-size: 1.8em;
	}
	li{
		font-size:1.3em;
	}
	nav ul{
		list-style-type: none;
  		text-align: center;
  		padding:0;
	}
	nav li{

	    font-family: 'Bree Serif', sans-serif;
	    font-size:0.9em;
	    padding-right:0px;
	    padding-left:0px;
	}
	.btn {
		font-size:1.5em;
		font-family:"Bree Serif"
	}
	.navbar-brand{
		font-size:2em;
	}
}
/* CSS for Hamburger menu sized screens */
	@media only all and (max-width: 575px){

	main{
		padding-left:0px;
	}
	li{
		border-bottom:1px solid white;
	}

	li:last-child{
		border-bottom:none;
	}
	.navbar-brand{
		font-size:1.2em;
	}
	.btn {
		font-size:1.2em;
		font-family:"Bree Serif"
	}
	.nav-item{
		font-size:1.2em;
		font-family:"Bree Serif";
	}
	p{
		font-size:.8em;
	}
	h2{
		font-size:1.2em;
	}
}

@media only screen and (max-width: 400px){
	p{
		font-size: .6em;
	}
	h2{
		font-size:1.0em;
	}
}